/* Common Section */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  color: rgb(75, 73, 73);
  font-size: 1.4rem;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  margin: 0 10px;
}

.brand h1 {
  font-size: 3.5rem;
  font-weight: 900;
  letter-spacing: .3rem;
  text-transform: uppercase;
  color: rgb(75, 73, 73);
}
/* End Common Section */

/* Header Section */
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 7vh;
  background-color: #2E77B2;
  transition: 0.3s ease background-color;
}

#header .header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

#header .header .nav-list .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
  border: 3px solid rgb(94, 92, 92);
}

#header .header .nav-list .hamburger::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid rgb(75, 73, 73);
  animation: hamburger_pulse 1s ease infinite;
}

#header .header .nav-list .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: rgb(75, 73, 73);
  z-index: -1;
}

#header .header .nav-list .hamburger .bar::after {
  content: "";
  position: absolute;
  top: 8px;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: rgb(75, 73, 73);
  transition: 0.3s ease;
  transition-property: top, bottom;
}

#header .header .nav-list .hamburger .bar::before {
  content: "";
  position: absolute;
  bottom: 8px;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: rgb(75, 73, 73);
  transition: 0.3s ease;
  transition-property: top, bottom;
}

#header .header .nav-list .hamburger.active .bar::after {
  top: 0;
}

#header .header .nav-list .hamburger.active .bar::before {
  bottom: 0;
}

#header .header .nav-list ul.active {
  left: 0;
}

#header .header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: #1f1e1e;
  height: 100vh;
  width: 100vw;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}

#header .header .nav-list ul a {
  font-size: 2.7rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: rgb(75, 73, 73);
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

#header .header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: #f0f8ff05;
  font-size: 12rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}

#header .header .nav-list ul li:hover a {
  color: #f5eef0;
}

#header .header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial; 
}

/* Media query for desktop */
@media only screen and (min-width: 1200px) {
  #header .header .nav-list .hamburger {
    display: none;
  }
  #header .header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .header .nav-list ul li {
    display: inline-block;
  }
  #header .header .nav-list ul li a {
    font-size: 1.8rem;
    font-weight: 400;
  }
  #header .header .nav-list ul li a::after {
    display: none;
  }
}

/* Media query for tablet */
@media only screen and (max-width: 768px) {
  #header .header .nav-bar .brand {
    margin-left: 20px;
  }
}

/* Media query for phone */
@media only screen and (max-width: 480px) {
  .brand h1 {
    font-size: 2.5rem;
  }
}
/* End Header Section */

/* Hero Section */
#hero {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-position: right bottom;
  position: relative;
  z-index: 1;
  width: 100vw;
}

#hero .hero {
  text-align: center;
  margin: 0 auto;
  padding: 80px 20px;
  flex-direction: row;
}

#hero .col-left {
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 200px;
  width: 33.3%;
  height: 80%;
  left: 50px;
}

#hero .col-left .head-img {
  margin: 0 auto;
  width: 50%;
  height: 30%;
}

#hero .col-left .title {
  margin-top: 30px;
  text-align: center;
}

#hero .col-left h1 {
  font-size: 2vw;
  font-weight: 700;
  color: rgb(75, 73, 73);
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

#hero .col-left h2 {
  font-size: 1.6vw;
  font-weight: 700;
  color: rgb(75, 73, 73);
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

#hero .col-left p {
  font-size: 1.3vw;
  font-weight: 800;
  color: rgb(75, 73, 73);
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

#hero .col-right {
  width: 66.6%;
}

/* Media query for tablet */
@media only screen and (max-width: 768px) {
  #hero .col-left {
    position: absolute;
    width:100%;
    left: 0;
  }

  #hero .col-right {
    width: 0;
  }

  #hero .col-left .head-img {
    margin: 0 auto;
    width: 30%;
    height: auto;
    position: relative;
  }

  #hero .col-left h1 {
    font-size: 3rem;
  }

  #hero .col-left h2 {
    font-size: 2.3rem;
  }

  #hero .col-left p {
    font-size: 2rem;
  }
}

/* Media query for phone */
@media only screen and (max-width: 480px) {
  #hero {
    background-position: left;
  }

  #hero .col-left .head-img {
    margin: 0 auto;
    width: 50%;
    height: auto;
  }
}
/* End Hero Section */

/* Intro Section */
#intro {
  background-color: #9dccf3;
  width: 100vw;
}

#intro .intro {
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#intro .intro .section-title {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(75, 73, 73);
}

#intro .intro .intro-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#intro .col-left {
  width: 50%;
  height: auto;
  font-size: 0;
}

#intro .col-left .intro-img {
  height: 100%;
  width: auto;
  position: relative;
  border: 2px solid #2E77B2;
}

#intro .intro-main .col-right {
  width: 50%;
  padding-left: 80px;
}

#intro .intro-main .col-right p {
  font-size: 2.3rem;
  font-weight: 400;
  color: rgb(75, 73, 73);
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

/* Media query for tablet */
@media only screen and (max-width: 768px) {
  #intro .intro .intro-main {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
  }

  #intro .intro-main .col-left {
    width: 75%;
  }

  #intro .intro-main .col-right {
    margin-top: 50px;;
    width: 75%;
    padding-left: 0;
  }
}

/* Media query for phone */
@media only screen and (max-width: 480px) {
  #intro .intro {
    padding: 60px 0;
  }

  #intro .intro .intro-main {
    margin-top: 20px;
  }

  #intro .intro-main .col-left {
    width: 90%;
  }

  #intro .intro-main .col-right {
    width: 90%;
  }

}
/* End Intro Section */

/* Contact Section */
#contact {
  background-color: #9dccf3;
  width: 100vw;
}

#contact .contact {
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#contact .contact .section-title {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(75, 73, 73);
}

#contact .contact .contact-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#contact .col-left {
  width: 45%;
  padding-right: 80px;
}

#contact .col-left p {
  font-size: 2.2rem;
  font-weight: 400;
  color: rgb(75, 73, 73);
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

#contact .col-left span {
  font-weight: 900;
}

#contact .col-right {
  width: auto;
  height: 580px;
  font-size: 0;
}

#contact .col-right .contact-img {
  height: 100%;
  width: 100%;
  position: relative;
  border: 4px solid #2E77B2;
}

/* Media Query for tablet */
@media only screen and (max-width: 768px) {
  #contact .col-right {
    width: 45%;
    height: auto;
  }
  #contact .col-left {
    width: 45%;
    padding-right: 0;
  }
  #contact .col-left p {
    font-size: 1.6rem;
  }  
}

/* Media query for phone */
@media only screen and (max-width: 480px) {
  #contact .contact {
    padding: 60px 0;
  }

  #contact .contact .contact-main {
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
  }

  #contact .col-right {
    width: 90%;
    height: auto;
  }
  #contact .col-left {
    width: 90%;
    padding-right: 0;
    padding-top: 30px;
  }
}
/* End Contact Section */

/* About Section */
#about {
  background-color: #9dccf3;
  width: 100vw;
}

#about .about {
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#about .about .section-title {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(75, 73, 73);
}

#about .about .about-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#about .col-left {
  width: 650px;
  height: 464px;
  font-size: 0;
}

#about .col-left .about-img {
  height: 100%;
  width: 100%;
  position: relative;
  border: 2px solid #2E77B2;
}

#about .about-main .col-right {
  width: 50%;
  padding-left: 80px;
}

#about .about-main .col-right p {
  font-size: 2.3rem;
  font-weight: 400;
  color: rgb(75, 73, 73);
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

/* Media Query for tablet */
@media only screen and (max-width: 768px) {
  #about .about .about-main {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;;
  }

  #about .about-main .col-left {
    width: 75%;
  }

  #about .about-main .col-right {
    margin-top: 50px;;
    width: 75%;
    padding-left: 0;
  }

  #about .about-main .col-right p {
    line-height: 1.2;
  }
}

/* Media query for phone */
@media only screen and (max-width: 480px) {
  #about .about {
    padding: 60px 0;
  }

  #about .about .about-main {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
  }

  #about .about-main .col-right {
    width: 90%;
    height: auto;
  }
  #about .about-main .col-left {
    width: 90%;
    padding-right: 0;
    padding-top: 30px;
  }
}

/* End About Section */

/* Testimonials Section */

#testimonials {
  background-color: #2E77B2;
  width: 100vw;
}

#testimonials .testimonials {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
}

#testimonials .testimonials .section-title {
  font-size: 3.5rem;
  font-weight: 900;
  color: rgb(75, 73, 73);
}

#testimonials .testimonials-main {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#testimonials .testimonials-item {
  flex-basis: 80%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid #153855;
  background-color: #9dccf3;
  background-size: cover;
  margin: 0 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#testimonials .testimonials-item p {
  text-align: center;
  font-weight: 700;
}

/* Media Query for Desktop */
@media only screen and (min-width: 1200px) {
  #testimonials .testimonials-main .testimonials-item {
    flex-basis: 30%;
    margin: 0 1.5%;
  }
}

/* Media Query for Tablets */
@media only screen and (max-width: 768px) {
  #testimonials .testimonials-main {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

  #testimonials .testimonials-main .testimonials-item {
    width: 80%;
    margin: 2.5%;
  }
}

/* Media query for phone */
@media only screen and (max-width: 480px) {
  #testimonials .testimonials {
    padding: 0;
  }

  #testimonials .testimonials-main {
    margin-top: 30px;
  }
}
/* End Testimonials Section */

/* Footer Section */
#footer {
  background-color: #66b3f3;
  width: 100vw;
}

#footer .footer {
  min-height: 100px;
  flex-direction: column;
  padding: 30px;
  text-align: center;
}

#footer .footer h2 {
  color: rgb(75, 73, 73);
  font-weight: 700;
  font-size: 2.3rem;
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

#footer .footer p {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
/* End Footer Section */

/* Keyframes */
@keyframes hamburger_pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}
/* Keyframes End */