/* Common Section */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  color: rgb(75, 73, 73);
  font-size: 1.4rem;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  margin: 0 10px;
}

.brand h1 {
  font-size: 3.5rem;
  font-weight: 900;
  letter-spacing: .3rem;
  text-transform: uppercase;
  color: rgb(75, 73, 73);
}

/* Header Section */
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 8vh;
  background-color: #2E77B2;
  /* transition: 0.3s ease background-color; */
}

#header .header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

#header .header .nav-list .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
  border: 3px solid rgb(94, 92, 92);
}

#header .header .nav-list .hamburger::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid rgb(75, 73, 73);
  animation: hamburger_pulse 1s ease infinite;
}

#header .header .nav-list .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: rgb(75, 73, 73);
  z-index: -1;
}

#header .header .nav-list .hamburger .bar::after {
  content: "";
  position: absolute;
  top: 8px;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: rgb(75, 73, 73);
  transition: 0.3s ease;
  transition-property: top, bottom;
}

#header .header .nav-list .hamburger .bar::before {
  content: "";
  position: absolute;
  bottom: 8px;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: rgb(75, 73, 73);
  transition: 0.3s ease;
  transition-property: top, bottom;
}

#header .header.nav-list .hamburger.active .bar::after {
  top: 0;
}

#header .header.nav-list .hamburger.active .bar::before {
  bottom: 0;
}

#header .header .nav-list ul.active {
  left: 0;
}

#header .header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: #1f1e1e;
  height: 100vh;
  width: 100vw;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}

#header .header .nav-list ul a {
  font-size: 2.7rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: rgb(75, 73, 73);
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

#header .header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: #f0f8ff05;
  font-size: 12rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}

#header .header .nav-list ul li:hover a {
  color: #f5eef0;
}

#header .header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%), scale(1);
  letter-spacing: initial; 
}

/* Media Query for Desktop */
@media only screen and (min-width: 1200px) {
  #header .header .nav-list .hamburger {
    display: none;
  }
  #header .header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .header .nav-list ul li {
    display: inline-block;
  }
  #header .header .nav-list ul li a {
    font-size: 1.8rem;
    font-weight: 400;
  }
  #header .header .nav-list ul li a::after {
    display: none;
  }
}


/* Hero Section */
#hero {
  background-image: url(../images/herotest1.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
}

#hero .hero {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100 20px;
  flex-direction: row;
}

#hero .col-left {
  flex-direction: column;
  align-items: center;
  width: 33.3%;
  height: 100%;
}

#hero .col-left .head-img {
  margin: 0 auto;
  width: 50%;
  height: 30%;
  position: relative;
}

#hero .col-center {
  width: 33.3%
}

#hero .col-right {
  width: 33.3%;
}

#hero .col-left .title {
  margin-top: 30px;
  text-align: center;
}

#hero .col-left h1 {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(75, 73, 73);
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}


#hero .col-left h2 {
  font-size: 2.3rem;
  font-weight: 700;
  color: rgb(75, 73, 73);
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

#hero .col-left p {
  font-size: 2rem;
  font-weight: 800;
  color: rgb(75, 73, 73);
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

/* End Hero Section */

/* Intro section */

#intro {
  background-color: #9dccf3;
}

#intro .intro {
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#intro .intro .section-title {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(75, 73, 73);
}

#intro .intro .intro-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#intro .col-left {
  width: 650px;
  height: 464px;
}

#intro .col-left .intro-img {
  height: 100%;
  width: 100%;
  position: relative;
  border: 2px solid #2E77B2;
}

#intro .intro-main .col-right {
  width: 50%;
  padding-left: 80px;
}

#intro .intro-main .col-right p {
  font-size: 2.3rem;
  font-weight: 400;
  color: rgb(75, 73, 73);
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

/* intro section */

#contact {
  background-color: #9dccf3;
}

#contact .contact {
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#contact .contact .section-title {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(75, 73, 73);
}

#contact .contact .contact-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#contact .col-left {
  width: 50%;
  padding-right: 80px;
}

#contact .col-left p {
  font-size: 2.2rem;
  font-weight: 400;
  color: rgb(75, 73, 73);
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

#contact .col-left span {
  font-weight: 900;
}

#contact .col-right {
  width: 364px;
  height: 550px;
}

#contact .col-right .contact-img {
  height: 100%;
  width: 100%;
  position: relative;
  border: 4px solid #2E77B2;
}

/* About section */

#about {
  background-color: #9dccf3;
}

#about .about {
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#about .about .section-title {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(75, 73, 73);
}

#about .about .about-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#about .col-left {
  width: 650px;
  height: 464px;
}

#about .col-left .about-img {
  height: 100%;
  width: 100%;
  position: relative;
  border: 2px solid #2E77B2;
}

#about .about-main .col-right {
  width: 50%;
  padding-left: 80px;
}

#about .about-main .col-right p {
  font-size: 2.3rem;
  font-weight: 400;
  color: rgb(75, 73, 73);
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

/* About section */

/* Testimonials */

#testimonials {
  background-color: #2E77B2;
}

#testimonials .testimonials {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
  padding-top: 0;
}

#testimonials .testimonials .section-title {
  font-size: 3.5rem;
  font-weight: 900;
  color: rgb(75, 73, 73);
}

#testimonials .testimonials-main {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#testimonials .testimonials-item {
  flex-basis: 80%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid #153855;
  background-color: #9dccf3;
  background-size: cover;
  margin: 0 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#testimonials .testimonials-item p {
  text-align: center;
}

/* Media Query for Tablets */
@media only screen and (max-width: 768px) {
  #testimonials .testimonials-main {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

  #testimonials .testimonials-main .testimonials-item {
    width: 80%;
    margin: 2.5%;
  }
}


/* Media Query for Desktop */
@media only screen and (min-width: 1200px) {
  #testimonials .testimonials-main .testimonials-item {
    flex-basis: 30%;
    margin: 0 1.5%;
  }
}

/* Testimonials End */

/* Footer */

#footer {
  background-color: #66b3f3;
}

#footer .footer {
  min-height: 100px;
  flex-direction: column;
  padding: 30px;
  /* padding-bottom: 30px; */
  text-align: center;
}

#footer .footer h2 {
  color: rgb(75, 73, 73);
  font-weight: 700;
  font-size: 2.3rem;
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

#footer .footer p {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Footer End */

/* Keyframes */

@keyframes hamburger_pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

/* Keyframes End */